.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 20px;
  align-items: center;
}

.profile-card__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
} 

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 6px;

  span {
    font-size: 12px;
  }
}

.profile-card__description {
  p {
    font-size: 12px;
  }
}

.profile-card__tags {
  gap: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;

  .skill-tag {
    display: flex;
    border: 1px solid var(--light-color);
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    height: min-content;
  }
  .skill-tag:hover {
    border: 1px solid rgb(150, 135, 235);
    color: rgb(150, 135, 235);
  }
}

.profile-card__button {
  display: flex;
  justify-content: center;
  align-items: center;

    img {
      width: 18px;
      height: 18px;
    }
  }
